<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
    </div>

    <div class="row">
      <div
        class="col-lg-12 content"
        style="margin-top: -10%"
        data-aos="fade-left"
      >
        <h3>Software Developer</h3>
        <p class="fst-italic">
          🌱 I am a full cycle software developer with experience developing and
          supporting enterprise web applications.
          <br /><br />
          During my career I have worked on several projects, including the
          development of new components and their maintenance for an employment
          platform for a company in Medellín, the maintenance of internal
          applications for several banks, and the development of new modules and
          functionalities for a concession of road infrastructure services.
          <br /><br />In different projects I was responsible for software
          development and maintenance. My short-term goal is to continue
          learning new technologies and improve my skills in developing
          high-performance and scalable applications. In the long term I would
          like to lead a software development team and contribute to the
          development of innovative projects. 🚀
        </p>
        <span>
          Do you want to know more about me? What are you waiting for...
          download my CV and analyze my skills.
        </span>
        <a download href="Hoja de vida Juan Carlos Estevez Vargas.pdf">
          <button class="download-cv">Download CV</button>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
