<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
      <p>
        I'm a proactive person, organized and responsible good interpersonal
        relationships. I always have the best disposition to carry out my work.
        I am looking for a challenging position where I can continue learning.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Systems engineer student</h3>
        <p class="fst-italic">
          Great knowledge of server-side technologies in Java through
          development frameworks such as Spring Boot; Web developer with
          technologies such as JavaScript, Angular, CSS, HTML and node.js; good
          handling of Git, Jenkins and SonarQube.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Birthday:</strong> <span>May 2001</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Website:</strong
                ><a
                  href="https://juan-carlos-estevez-vargas.netlify.app/"
                  style="color: blue; text-decoration: underline"
                  >juan-carlos-estevez-estevez.com</a
                ><span></span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Phone:</strong> <span>+57 321 459 7648</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>City:</strong> <span>Chiquinquirá, Colombia</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                <span>21</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Degree:</strong> <span>Developer</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Email:</strong>
                <span>juank2001estevezvargas@gmail.com</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Freelance:</strong> <span>Available</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Do you want to know more about me? What are you waiting for...
          download my CV and analyze my skills.
        </p>
        <a download href="Hoja de vida Juan Carlos Estevez Vargas.pdf">
          <button class="download-cv">Download CV</button>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
