<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
    </div>

    <div class="row">
      <div
        class="col-lg-12 content"
        style="margin-top: -10%"
        data-aos="fade-left"
      >
        <h3>Software Developer</h3>
        <p class="fst-italic">
          🌱 Soy un desarrollador de software de ciclo completo con experiencia
          en el desarrollo y soporte de aplicaciones web empresariales.
          <br /><br />
          Durante mi carrera he trabajado en varios proyectos, entre ellos el
          desarrollo de nuevos componentes y su mantenimiento para una
          plataforma de empleo para una empresa en Medellín, el mantenimiento de
          aplicaciones internas para varios bancos, y el desarrollo de nuevos
          módulos y funcionalidades para una concesión de servicios de
          infraestructura vial.
          <br /><br />En diferentes proyectos fui responsable del desarrollo y
          mantenimiento de software. Mi objetivo a corto plazo es seguir
          aprendiendo nuevas tecnologías y mejorar mis habilidades en el
          desarrollo de aplicaciones escalables y de alto rendimiento. A largo
          plazo me gustaría liderar un equipo de desarrollo de software y
          contribuir al desarrollo de proyectos innovadores. 🚀
        </p>
        <span>
          Do you want to know more about me? What are you waiting for...
          download my CV and analyze my skills.
        </span>
        <a download href="Hoja de vida Juan Carlos Estevez Vargas.pdf">
          <button class="download-cv">Download CV</button>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
