<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Portfolio</h2>
      <p>
        In this section you will be able to find some projects that I have
        carried out throughout my career, it should be noted that you will be
        able to access the source code of the project and a web page with a
        brief description of it. Let's give it!
      </p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-console">Back</li>
          <li data-filter=".filter-desktop">Desktop</li>
          <li data-filter=".filter-web">Web App</li>
          <li data-filter=".filter-ui">Front</li>
        </ul>
      </div>
    </div>

    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="../assets/img/portfolio/details/librarex/librarex-logo.png"
            class="img-fluid"
            alt="Librarex web app"
          />
          <div class="portfolio-links">
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Librarex"
              class="portfolio-lightbox"
              title="Librarex Web App project"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/librarex.html"
              title="More Details"
              target="_blank"
              x|
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="http://librarrex.000webhostapp.com/"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ui">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/coinbase/coinbase-home.png"
            class="img-fluid"
            alt="Coinbase desing app"
          />
          <div class="portfolio-links">
            <a
              href="https://juan-carlos-estevez-vargas.github.io/design-coinbase/"
              class="portfolio-lightbox"
              title="Coinbase design app project"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/coinbase.html"
              title="More Details"
              target="_blank"
              x|
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/design-coinbase"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-console">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/metodos-numericos/banner.jpg"
            class="img-fluid"
            alt="metodos numericos en matlab"
          />
          <div class="portfolio-links">
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Metodos-Numericos"
              class="portfolio-lightbox"
              target="_blank"
              title="numeric-methods-project"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/numeric-methods.html"
              title="More Details"
              target="_blank"
              x|
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Metodos-Numericos"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ui">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/login-moderno/login-moderno.png"
            class="img-fluid"
            alt="modern login design"
          />
          <div class="portfolio-links">
            <a
              href="https://login-moderno.netlify.app/"
              target="_blank"
              class="portfolio-lightbox"
              title="modern login project"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/modern-login.html"
              title="More Details"
              target="_blank"
              x|
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Login-Moderno"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ui">
        <div class="portfolio-wrap">
          <img
            src="../assets/img/portfolio/details/js-documentation/js-documentation.png"
            class="img-fluid"
            alt="JS-Documentation page"
          />
          <div class="portfolio-links">
            <a
              href="https://js-documentation-by-juan-estevez.netlify.app/"
              title="JS-Documentation"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/js-documentation.html"
              title="More Details"
              target="_blank"
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/JavaScript_Documetation_Page"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/encriptador-de-texto/Encriptador de texto.png"
            class="img-fluid"
            alt="Text Encryptor Page"
          />
          <div class="portfolio-links">
            <a
              href="https://juan-carlos-estevez-vargas.github.io/Encriptador-de-texto/"
              class="portfolio-lightbox"
              title="Text Encryptor"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/encriptador-de-texto.html"
              title="More Details"
              target="_blank"
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Encriptador-de-texto"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ui">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/youtube-courses-website/youtube-courses-website.png"
            class="img-fluid"
            alt="Apuntes de un Ingeniero Courses by Juan Carlos Estevez Vargas"
          />
          <div class="portfolio-links">
            <a
              href="https://apuntes-de-un-ingeniero-courses.netlify.app/"
              class="portfolio-lightbox"
              title="youtube-courses-website"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/youtube-courses-website.html"
              title="More Details"
              target="_blank"
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/YouTube-Courses-WebSite"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ui">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/basic-calculator/basic-calculator.png"
            class="img-fluid"
            alt="Basic Calculator in JavaScript"
          />
          <div class="portfolio-links">
            <a
              href="https://basic-calculator-juan-estevez.netlify.app/"
              class="portfolio-lightbox"
              title="Basic-Calculator-JavaScript"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/basic-calculator.html"
              title="More Details"
              target="_blank"
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Basic-Calculator-JavaScript"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ui">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/apeperia/apeperia.png"
            class="img-fluid"
            alt="Apeperia Logo"
          />
          <div class="portfolio-links">
            <a
              href="https://juan-carlos-estevez-vargas.github.io/apeperia/"
              target="_blank"
              title="Apeperia"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/apeperia.html"
              title="More Details"
              target="_blank"
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/apeperia"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ui">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/portfolio-freecodecamp/banner.jpg"
            class="img-fluid"
            alt="portfolio free code camp design"
          />
          <div class="portfolio-links">
            <a
              href="https://portfolio-freecodecamp.netlify.app/"
              class="portfolio-lightbox"
              title="Portfolio-freeCodeCamp"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/portfolio-freecodecamp.html"
              title="More Details"
              target="_blank"
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Porftolio-freeCodeCamp"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ui">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/budget-control/budget-control.png"
            class="img-fluid"
            alt="Budget Control Application in JavaScript"
          />
          <div class="portfolio-links">
            <a
              href="https://budget-control-js.netlify.app/"
              class="portfolio-lightbox"
              title="Budget-Control-Application-JavaScript"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/budget-control.html"
              title="More Details"
              target="_blank"
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Budget-Control-Application-JavaScript.git"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/estevez-corporation/administrator-panel.png"
            class="img-fluid"
            alt="estevez corporation project"
          />
          <div class="portfolio-links">
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Estevez-Corporation"
              class="portfolio-lightbox"
              title="estevez-corporation-project"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="../portfolio-details/computer-management.html"
              title="More Details"
              target="_blank"
              x|
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Estevez-Corporation.git"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-ui">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/reloj-12-horas/banner.jpg"
            class="img-fluid"
            alt="digital clock project"
          />
          <div class="portfolio-links">
            <a
              href="https://juan-carlos-estevez-vargas.github.io/Reloj-Basico-js/"
              class="portfolio-lightbox"
              title="digital clock project"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/reloj.html"
              title="More Details"
              target="_blank"
              x|
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Reloj-Basico-js"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-desktop">
        <div class="portfolio-wrap">
          <img
            src="assets/img/portfolio/details/desktop-calculator/desktop calculator.png"
            class="img-fluid"
            alt="Desktop calculator in java"
          />
          <div class="portfolio-links">
            <a
              href="https://drive.google.com/drive/folders/17F64lKyBIJWpVomtd0dcCUmgVk3dNJqT?usp=sharing"
              class="portfolio-lightbox"
              title="Desktop calculator project"
              target="_blank"
              ><i class="bx bx-plus"></i
            ></a>
            <a
              href="portfolio-details/desktop-calculator.html"
              title="More Details"
              target="_blank"
              x|
              ><i class="bx bx-link"></i
            ></a>
            <a
              href="https://github.com/Juan-Carlos-Estevez-Vargas/Calculadora_Basica_Java"
              target="_blank"
              title="Code"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
