<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <p>
        Next, I show you a little of my formal education and my work experience
        so that you ratify your confidence in me. Let's Go!
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Juan Carlos Estevez Vargas</h4>
          <p>
            <em
              >Passionate and enthusiastic about technology and electronics,
              software developer and innovator, with little work experience but
              a lot to contribute and learn.</em
            >
          </p>
          <ul>
            <li>Chiquinquirá/Boyacá/Colombia</li>
            <li>(+57) 321 459 7648</li>
            <li>juank2001estevez@gmail.com</li>
          </ul>
        </div>
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>YouTube Content Creator</h4>
          <h5>2021 - Present</h5>
          <p><em>YouTube, Chiquinquirá, Boyacá </em></p>
          <ul>
            <p>
              I currently work as an edutuber on the YouTube platform, in which
              I have the following playlists.
            </p>
            <ul>
              <li>Python Programming from Scratch.</li>
              <li>MySQL from Scratch.</li>
              <li>Java and Angular full-stack web application.</li>
            </ul>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Technology and Informatics Teacher</h4>
          <h5>September 2022 - Present</h5>
          <p>
            <em>Gimnasio Campestre El Bosque, Chiquinquirá, Boyacá </em>
          </p>
          <p>
            Currently, I find myself performing the arduous but beautiful task
            of being a computer science teacher in one of the best educational
            institutions in the city; the grades or courses which I guide in
            these technologies are the seventh, eighth and ninth grade students.
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Systems Engineer</h4>
          <h5>2019 - Present</h5>
          <p>
            <em>Fundación Universitaria de San Gil, Chiquinquirá, Colombia</em>
          </p>
          <p>
            I am currently studying the sixth semester of the systems
            engineering degree at the University Foundation of San Gil
            UNISANGIL.
          </p>
        </div>
        <div class="resume-item">
          <h4>Software development &amp; Web applications development</h4>
          <h5>2020 - 2021</h5>
          <p>
            <em>Universidad Industrial de Santander, Bucaramanga, Colombia</em>
          </p>
          <p>
            Certificate issued by the Industrial University of Santander in
            collaboration with the Ministry of Technology and Information for
            approving the 4 cycles of the academic program.
          </p>
        </div>
        <div class="resume-item">
          <h4>Responsive Web-Design</h4>
          <h5>2022 - 2022</h5>
          <p><em>freeCodeCamp, Chiquinquirá, Colombia</em></p>
          <ul>
            <li>
              Developed numerous marketing programs (logos,
              brochures,infographics, presentations, and advertisements).
            </li>
            <li>
              Managed up to 5 projects or tasks at a given time while under
              pressure
            </li>
            <li>
              Recommended and consulted with clients on the most appropriate
              graphic design
            </li>
            <li>
              Created 4+ design presentations and proposals a month for clients
              and account managers
            </li>
          </ul>
        </div>
      </div>
      <p>
        Do you want to know more about my education? visit my profile on
        <a
          href="https://www.linkedin.com/in/juan-carlos-estevez-vargas/"
          target="_blank"
          style="color: blue"
          >linkedin</a
        >
        <i class="bx bxl-linkedin"></i>
      </p>
    </div>
  </div>
</section>
<!-- End Resume Section -->
