<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Skills</h2>
      <p>
        Next, you will find some of the technologies and programming languages
        ​​that I handle, these technologies have a level of ability which I
        think I have.
      </p>
    </div>

    <div class="container-fluid">
      <!-- Back-End Languajes Section -->
      <div
        class="col-lg-12 pt-4 pt-lg-0 content text-center"
        style="margin: 40px"
        data-aos="fade-left"
      >
        <h3 style="color: #173b6c">< Back-End Languajes /></h3>
      </div>
      <div class="row text-center">
        <div class="col-sm-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg"
            alt="java"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Java</h3>
        </div>
        <div class="col-sm-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
            alt="python"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Python</h3>
        </div>
        <div class="col-sm-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg"
            alt="php"
            width="80"
            height="80"
          />
          <h3 class="skill-name">PHP</h3>
        </div>
        <div class="col-sm-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg"
            alt="cplusplus"
            width="80"
            height="80"
          />
          <h3 class="skill-name">C++</h3>
        </div>
      </div>
      <!-- End Back-End Languajes Section -->

      <!-- Front-End Languajes Section -->
      <div
        class="col-lg-12 pt-4 pt-lg-0 content text-center"
        style="margin: 40px"
        data-aos="fade-left"
      >
        <h3 style="color: #173b6c">< Front-End Languajes /></h3>
      </div>
      <div class="row text-center">
        <div class="col-md-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
            alt="html5"
            width="80"
            height="80"
          />
          <h3 class="skill-name">HTML</h3>
        </div>
        <div class="col-md-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
            alt="css3"
            width="80"
            height="80"
          />
          <h3 class="skill-name">CSS3</h3>
        </div>
        <div class="col-md-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
            alt="javascript"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Javascript</h3>
        </div>
        <div class="col-md-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
            alt="typescript"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Typescript</h3>
        </div>
      </div>
      <!-- End Front-End Languajes Section -->

      <!-- Frameworks Section -->
      <div
        class="col-lg-12 pt-4 pt-lg-0 content text-center"
        style="margin: 40px"
        data-aos="fade-left"
      >
        <h3 style="color: #173b6c">< Frameworks /></h3>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <img
            src="https://angular.io/assets/images/logos/angular/angular.svg"
            alt="angular"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Angular</h3>
        </div>
        <div class="col-md-4">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
            alt="bootstrap"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Bootstrap</h3>
        </div>
        <div class="col-md-4">
          <img
            src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg"
            alt="spring"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Spring</h3>
        </div>
      </div>
      <!-- End Frameworks Section -->

      <!-- Databases Section -->
      <div
        class="col-lg-12 pt-4 pt-lg-0 content text-center"
        style="margin: 40px"
        data-aos="fade-left"
      >
        <h3 style="color: #173b6c">< Databases /></h3>
      </div>
      <div class="row text-center">
        <div class="col-md-2">
          <img
            src="https://www.vectorlogo.zone/logos/mariadb/mariadb-icon.svg"
            alt="mariadb"
            width="80"
            height="80"
          />
          <h3 class="skill-name">MariaDB</h3>
        </div>
        <div class="col-md-2">
          <img
            src="https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg"
            alt="mssql"
            width="80"
            height="80"
          />
          <h3 class="skill-name">SQL Server</h3>
        </div>
        <div class="col-md-2">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
            alt="mysql"
            width="80"
            height="80"
          />
          <h3 class="skill-name">MySQL</h3>
        </div>
        <div class="col-md-2">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/oracle/oracle-original.svg"
            alt="oracle"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Oracle</h3>
        </div>
        <div class="col-md-2">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"
            alt="postgresql"
            width="80"
            height="80"
          />
          <h3 class="skill-name">PostgreSQL</h3>
        </div>
        <div class="col-md-2">
          <img
            src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg"
            alt="sqlite"
            width="80"
            height="80"
          />
          <h3 class="skill-name">SQLite</h3>
        </div>
      </div>
      <!-- End Databases Section -->

      <!-- Tools Section -->
      <div
        class="col-lg-12 pt-4 pt-lg-0 content text-center"
        style="margin: 40px"
        data-aos="fade-left"
      >
        <h3 style="color: #173b6c">< Tools /></h3>
      </div>
      <div class="row text-center">
        <div class="col-md-3">
          <img
            src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
            alt="git"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Git</h3>
        </div>
        <div class="col-md-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg"
            alt="linux"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Linux</h3>
        </div>
        <div class="col-md-3">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png"
            alt="matlab"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Matlab</h3>
        </div>
        <div class="col-md-3">
          <img
          src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg"
          alt="postman" width="80" height=80" />
          <h3 class="skill-name">Postman</h3>
        </div>
      </div>
      <!-- End Tools Section -->

      <!-- Testing Tools Section -->
      <div
        class="col-lg-12 pt-4 pt-lg-0 content text-center"
        style="margin: 40px"
        data-aos="fade-left"
      >
        <h3 style="color: #173b6c">< Testing Tools /></h3>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <img
            src="https://www.vectorlogo.zone/logos/jasmine/jasmine-icon.svg"
            alt="jasmine"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Jasmine</h3>
        </div>
        <div class="col-md-6">
          <img
            src="https://raw.githubusercontent.com/detain/svg-logos/780f25886640cef088af994181646db2f6b1a3f8/svg/karma.svg"
            alt="karma"
            width="80"
            height="80"
          />
          <h3 class="skill-name">Karma</h3>
        </div>
      </div>
      <!-- End Testing Tools Section -->
    </div>

    <p style="margin-top: 40px">
      Do you want to know more about my skills? visit my profile on
      <a
        href="https://github.com/Juan-Carlos-Estevez-Vargas"
        target="_blank"
        style="color: blue"
        >github</a
      >
      <i class="bx bxl-github"></i>
    </p>
  </div>
</section>
<!-- End Skills Section -->
