<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Skills</h2>
      <p>
        Next, you will find some of the technologies and programming languages
        ​​that I handle, these technologies have a level of ability which I
        think I have.
      </p>
    </div>

    <div class="container-fluid">
      <div class="technologies"">
      <h3>Backend Languajes</h3>
      <div class="row text-center">
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg"
            alt="java"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Java</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
            alt="python"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Python</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg"
            alt="php"
            width="80"
            height="80"
          />
          <h4 class="skill-name">PHP</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg"
            alt="cplusplus"
            width="80"
            height="80"
          />
          <h4 class="skill-name">C++</h4>
        </div>
      </div>
      <h3>Frontend Languajes</h3>
      <div class="row text-center">
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
            alt="html5"
            width="80"
            height="80"
          />
          <h4 class="skill-name">HTML</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
            alt="css3"
            width="80"
            height="80"
          />
          <h4 class="skill-name">CSS3</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
            alt="javascript"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Javascript</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
            alt="typescript"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Typescript</h4>
        </div>
      </div>
      <h3>Frameworks</h3>
      <div class="row text-center">
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://angular.io/assets/images/logos/angular/angular.svg"
            alt="angular"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Angular</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
            alt="bootstrap"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Bootstrap</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg"
            alt="spring"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Spring</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/9/96/Sass_Logo_Color.svg"
            alt="spring"
            width="80"
            height="80"
          />
          <h4 class="skill-name">SASS</h4>
        </div>
      </div>
      <h3>Databases</h3>
      <div class="row text-center">
        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <img
            src="https://www.vectorlogo.zone/logos/mariadb/mariadb-icon.svg"
            alt="mariadb"
            width="80"
            height="80"
          />
          <h4 class="skill-name">MariaDB</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <img
            src="https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg"
            alt="mssql"
            width="80"
            height="80"
          />
          <h4 class="skill-name">SQL Server</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg"
            alt="mysql"
            width="80"
            height="80"
          />
          <h4 class="skill-name">MySQL</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/oracle/oracle-original.svg"
            alt="oracle"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Oracle</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"
            alt="postgresql"
            width="80"
            height="80"
          />
          <h4 class="skill-name">PostgreSQL</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <img
            src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg"
            alt="sqlite"
            width="80"
            height="80"
          />
          <h4 class="skill-name">SQLite</h4>
        </div>
      </div>
      <h3>Tools</h3>
      <div class="row text-center">
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
          <img
            src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
            alt="git"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Git</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg"
            alt="linux"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Linux</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png"
            alt="matlab"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Matlab</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
          <img
          src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg"
          alt="postman" width="80" height=80" />
          <h4 class="skill-name">Postman</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
          <img
          src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Sonarqube_logo.png"
          alt="sonarqube" width="80" height=80" />
          <h4 class="skill-name">SonarQube</h4>
        </div>
      </div>
      <h3>Testing Tools</h3>
      <div class="row text-center">
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://camo.githubusercontent.com/049cbfc3f4c820fe5aa0b376a703a975ab75181a/68747470733a2f2f6a756e69742e6f72672f6a756e6974352f6173736574732f696d672f6a756e6974352d6c6f676f2e706e67"
            alt="junit"
            width="80"
            height="80"
          />
          <h4 class="skill-name">JUnit</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://www.vectorlogo.zone/logos/jasmine/jasmine-icon.svg"
            alt="jasmine"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Jasmine</h4>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <img
            src="https://raw.githubusercontent.com/detain/svg-logos/780f25886640cef088af994181646db2f6b1a3f8/svg/karma.svg"
            alt="karma"
            width="80"
            height="80"
          />
          <h4 class="skill-name">Karma</h4>
        </div>
      </div>
    </div>
  </div>

  <p style="margin-top: 40px">
    Do you want to know more about my skills? visit my profile on
    <a
      href="https://github.com/Juan-Carlos-Estevez-Vargas"
      target="_blank"
      style="color: blue"
      >github</a
    >
    <i class="bx bxl-github"></i>
  </p>
  <!-- End Skills Section -->
</section>
